Source: sonicpi-pulseaudio-compat
Section: admin
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: M.Angel Juan <m.angel.juan@gmail.com>, Raul Rodrigo Segura <lliurex_devel3@edu.gva.es>, Hector Garcia Huerta <lliurex_devel1@edu.gva.es>, Daniel Duran Vecino <daduve@gmail.com>, Juanma Navarro <juanma1980@gmail.com>
Build-Depends: debhelper (>= 7.0)
Standards-Version: 3.9.5

Package: sonicpi-pulseaudio-compat
Architecture: all
Depends: ${misc:Depends}, sonic-pi, pulseaudio-module-jack
Description: Wrapper for sonic-pi
